body { margin: auto; width: 80%; }

nav{
	font-family: sans-serif;
	background-color:#2bb656;
	text-align:center;
	display:flex;
	justify-content: center;
	font-family:Tahoma, Impact;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration: none;
	padding: 10px;
	height:auto;
	width:auto;
	margin-left: 10px;
	position:fixed;
	top:0;
	/*background-color:rgb(30,130,255);*/
}

/* nav a{
	display: inline; 
	background-color: #2bb656;
  color: white;
	padding:10px;
	margin:5px;
} */

a { text-decoration: none;}


nav a, nav ul li a{
	display: inline; 
	background-color: #2bb656;
  	color: white;
	padding:10px;
	border-radius: 4px;
	text-decoration: none;
	text-align:center; 
	margin:5px;
}

nav ul li, footer ul li { display: inline; margin-right: 20px; }

nav a:hover {
  background-color:white;
	color:#2bb656;
	
}

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

