body { 
 	width: 100%; 
 	padding-top:6.5vw;
 	color: black;
 	}

.container{
	margin: 0 10%;
}

nav{
	font-family: sans-serif;
	background-color:#2bb656;
	text-align:center;
	display:flex;
	justify-content: center;
	font-family:Tahoma, Impact;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration: none;
	padding: 15 0px;
	height:auto;
	width:auto;
	margin-left: 0px;
	position:fixed;
	top:0;
	width:100%;
	/*background-color:rgb(30,130,255);*/
}

nav a {
	color:#FFFFFF;
	text-decoration: none;
	text-align:center; 
	margin:auto;
	padding:0 2.5px;	
}

a { text-decoration: none;}


/*nav ul li a{
	display: inline; 
	background-color: #2bb656;
  	color: white;
	padding:10px;
	border-radius: 4px;
	text-decoration: none;
	text-align:center; 
	margin:5px;
}

nav ul li, */
footer ul li { display: inline; margin-right: 20px; }

nav a:hover {
	background-color:white;
	color:#2bb656;
	
}

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

